<div id="<%= dom_id userr %>">
  <p>
    <strong>Name:</strong>
    <%= userr.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= userr.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= userr.email %>
  </p>

</div>
